In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2022, 7, 14, 13, 43, 5, 146605)

In [3]:
datetime.today()

datetime.datetime(2022, 7, 14, 13, 43, 14, 686523)

In [4]:
datetime(2020,1,1,0,0,0)

datetime.datetime(2020, 1, 1, 0, 0)

In [6]:
t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(2020,1,1)

In [7]:
t1-t2

datetime.timedelta(days=19187, seconds=49518, microseconds=160224)

In [8]:
import pandas as pd

In [9]:
ebola = pd.read_csv('data/country_timeseries.csv')

In [10]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB

In [11]:
ebola['date_dt'] = pd.to_datetime(ebola['Date'])

In [12]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
 18  date_dt              122 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB

In [13]:
test_df1 = pd.DataFrame({
    'order_day' : ['01/01/15','02/01/15','03/01/15']
})

In [14]:
pd.to_datetime(test_df1['order_day'])

0   2015-01-01
1   2015-02-01
2   2015-03-01
Name: order_day, dtype: datetime64[ns]

In [15]:
test_df1['date_df1']=pd.to_datetime(test_df1['order_day'],format='%d/%m/%y')
test_df1['date_df2']=pd.to_datetime(test_df1['order_day'],format='%m/%d/%y')
test_df1['date_df3']=pd.to_datetime(test_df1['order_day'],format='%y/%m/%d')